:root{
    --bg-black: #0f0f0f;
    --white:#f8f8f8;
    --bg-gray: #272727;
    --link-blue: rgb(126,162,236);
    --bg-light-gray: rgb(39,43,45,0.43);
    --mobile-box-shadow: rgb(176 176 178 /16%) 0px -5px 6px 0px inset,
    rgb(0 0 0 /24%) 4px 6px 11px 1px inset;
    --mobile-bg: rgb(39,43,45);
}