.hero-section-wrapper{
    position: relative;
}

.hero-section{
    min-height: 100vh;
    text-align: center;
}

.hero-heading{
    font-size: 90px;
    font-weight: 800;
}

.hero-subheading{
    font-size: 30px;
    font-weight: 700;
    margin: 30px 58px;
    line-height: 38px;
}



a{
    text-decoration: none;
    margin-top: 20px;
}

@media all and (max-width: 1279px){
    .hero-heading{
        font-size: 82px;
        line-height: 92px;
    }

    .hero-subheading{
        font-size: 25px;
    }
}

@media all and (max-width: 767px){
    .hero-section{
        align-items: flex-start;
        text-align: left;
        min-height: 70vh;
    }
    .hero-heading{
        font-size: 55px;
        line-height: 47.5px;
        width: 270px;
        margin-top: 60px;
    }

    .hero-subheading{
        font-size: 16px;
        line-height: 22px;
        margin: 35px 0px;
    }

    a{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}